{% extends 'main/base.html' %}

{% block content %}
    <h1 class="display-1 mb-4 text-center">Helló, Világ!</h1>
    {% if tip %}
        <div class="d-flex align-items-center justify-content-center">
            <div class="input-group mb-3 w-50">
                <div class="input-group-prepend" onmouseover="turnOn();" onmouseout="turnOff();">
                    <span class="input-group-text bg-light" id="lightbulb-outer"><i class="far fa-lightbulb" id="lightbulb"></i></span>
                </div>
                <input type="text" class="form-control font-italic bg-light" value="{{ tip.text }}" disabled>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        function turnOn() {
            console.log('asd');
            $('#lightbulb').removeClass('far');
            $('#lightbulb').addClass('fas');
            $('#lightbulb-outer').removeClass('bg-light');
            $('#lightbulb-outer').addClass('bg-warning');
        }
        
        function turnOff() {
            console.log('lol');
            $('#lightbulb').removeClass('fas');
            $('#lightbulb').addClass('far');
            $('#lightbulb-outer').removeClass('bg-warning');
            $('#lightbulb-outer').addClass('bg-light');
        }
    </script>
{% endblock %}
