{% extends 'main/base.html' %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="border-bottom mb-4">
        <h2 class="mb-1">{{ object.name }}</h2>
        <p class="text-muted mb-1 ">Tulajdonos: {{ object.owner.username }}</p>
        <p class="text-muted mb-1">Tagok száma: {{ object.users.count|add:"1" }}</p>
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'main:jitsi' object.name %}" class="btn btn-outline-success btn-sm mt-1 mb-1">Csatlakozás a csoport videóhívásához</a><br>
        {% if object.owner == user %}
            <a href="{% url 'group-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">
                <i class="far fa-edit"></i> Módosítás
            </a>
            <a href="{% url 'group-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">
                <i class="far fa-trash-alt"></i> Törlés
            </a>
        {% elif is_member %}
            <form action="{% url 'group-leave' object.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-warning">Elhagyás</button>
            </form>
        {% else %}
            <form action="{% url 'group-join' object.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success btn-sm mt-1 mb-1">Csatlakozás</button>
            </form>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <div id="calendar"></div>
            </div>
            <div class="col-md-4">
                <form action="{% url 'event-new' %}" method="POST" class="h-100 p-2 border rounded border-info">
                    {% csrf_token %}

                    <input type="hidden" name="group" value="{{ object.id }}">

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" class="form-control">
                        <label for="start">Start</label>
                        <input type="datetime" name="start" id="start" class="form-control">
                        <label for="end">End</label>
                        <input type="datetime" name="end" id="end" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-block btn-outline-info">
                        Esemény hozzáadása
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        A csoporthoz és a videóhíváshoz való csatlakozáshoz <a href="{% url 'login' %}?next={{ request.path }}">jelentkezzen be</a> vagy <a href="{% url 'register' %}">regisztráljon</a>!
    {% endif %}
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        themeSystem: 'bootstrap',
        selectable: true,
        editable: true,
        selectConstraint: {
            startTime: '00:00',
            endTime: '24:00'
        },
        events: [
            {% for event in object.events.all %}
                {
                    id: '{{ event.id }}',
                    title: '{{ event.title }}',
                    start: '{{ event.start|date:"Y-m-d" }}',
                    end: '{{ event.end|date:"Y-m-d" }}',
                },
            {% endfor %}
        ],
        select: function(start, end) {
            calendar.addEvent({title: 'asd', start: start, end: end});
            calendar.unselect();
        }
    });
    calendar.render();
    });
</script>
{% endblock %}
