<base href="/" />

{% extends 'main/base.html' %}

{% load render_bundle from webpack_loader %}

{% block content %}
    <h2 class="text-center">Csoportok</h2>
    <hr>
    <noscript>
        Az oldal működéséhez engedélyeznie kell a JavaScriptet.
    </noscript>
    {% if user.is_authenticated %}
        {% csrf_token %}
        <input type="hidden" name="userid" value="{% user.id %}">
    {% endif %}
    <div id="app"></div>
{% endblock %}

{% block javascript %}
    {% render_bundle 'groups' %}
{% endblock %}
